<div class="navbar">
  <div class="main_logo">
    <%= link_to 'Schedulr', root_path %>
  </div>

  <div class="main_menu">
    <div class="ui dropdown icon" id="main_menu_button">
      <i class="reorder icon"></i>
      <div class="menu" id="nav_menu">
        <div class="item"><i class="calendar icon"></i>View Schedules</div>
        <div class="item"><i class="user icon"></i>Edit Profile</div>
        <div class="item"><i class="edit icon"></i>Edit Availability</div>
      </div>
    </div>
  </div>

</div>